<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Mata Daun</title>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="Penyedia Web Builder, Hosting, dan Domain Terpercaya di Seluruh Indonesia">
    <meta name="keywords" content="Web Builder, Domain, Hosting">
    <meta name="author" content="Afrikgo">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="<?php echo base_url('asset/bower_components/bootstrap/dist/css/bootstrap.min.css');  ?>">


    <!-- Icon -->
    <link rel="shortcut icon"  href="img/logo_favicong.ico">
    <link rel="icon" sizes="130x128" href="img/logo_favicong.ico">
    <link rel="apple-touch-icon" sizes="130x128" href="img/logo_favicong.ico">


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="plugins/font.awesome.4.7.0/css/font-awesome.css">

    <!--JavaScript-->
    <script type="text/javascript" src="js/jquery.3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>



</head>
<body>


    <header class="header-utama">
        <div class="header-nav">

            <nav class="navbar navbar-default navbar-home">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="img/Logo.png" width="166" height="31" alt="Logo Afrikgo Web" class="img-responsive"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse animated" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#gohajjpro-section" class="href-dua">WEBSITE GIS</a></li>
                            <li><a href="#gohajjtravel-section"class="href-tiga">DAFTAR</a></li>
                            <li><a href="#mengapa-section"class="href-empat">MASUK</a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>


    <section class="home-first">
        <div class="background-utama">
            <div class="container">

              <div class="row">

                <div class="col-md-12 textutama">
                    <h3>SELAMAT DATANG DI</h3>
                    <h2>MATA DAUN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <button type="button" class="btn">
                        DOWNLOAD SEKARANG
                    </button>
                </div>



            </div>

            <!-- <div class="row"> -->
<!--                 <div class="media">

                    <div class="col-xs-12 col-md-5">
                        <div class="img-illustration">
                            <img src="img/Ilustration%20Utamaz.png" alt="GoHajj" class="img-responsive">
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-7" id="home-section">
                        <div class="media-middle">
                            <div class="media-spacing">
                                <h2 class="media-heading">Teman Perjalanan Anda Menuju Rumah Allah</h2>
                            </div>
                            <div class="media-spacing">    
                                <p>
                                    GoHajj adalah aplikasi panduan umroh dan haji dilengkapi tuntunan doa audio, Navigasi, SOS & titipan doa untuk calon haji mabrur dan umroh backpacker dari Indonesia.
                                </p>
                            </div>
                            <div class="media-spacing">
                                <a href="https://play.google.com/store/apps/details?id=salam.gohajj.id" target="_blank">
                                    <button type="button" class="btn">
                                        <img src="img/google-play.png" style="margin-right: 10px;margin-bottom: 3px;width: 16px;height: 18px" alt="GoHajj google-play">
                                        Download di Google Play
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!--        FITUR GOHAJJ-->
    <section class="home-fitur">
        <div id="fitur-section"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 fitur-title">
                    <h2 class="fitur-title">FITUR MATA DAUN</h2>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4 feature-item">
                    <div class="feature-image">
                        <img src="img/icon-panduan.png" style="width: 48px ; height: 45px" alt="Afrikgo Control Icon" class="img-responsive">
                    </div>
                    <div class="feature-text">
                        <h4>Mudah digunakan</h4>
                        <p>
                            GoHajj merupakan satu-satunya aplikasi panduan Umroh dan Haji terlengkap. Dilengkapi Navigasi, Emergency, Travel Agent, Pembimbing, Mutawwif.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 feature-item">
                    <div class="feature-image">
                        <img src="img/icon-komunikasi.png" style="width: 48px ; height: 45px" alt="GoHajj Icon Test" class="img-responsive">
                    </div>
                    <div class="feature-text">
                        <h4>Mengetahui Kandungan</h4>
                        <p>
                            Dengan menggunakan aplikasi GoHajj, anda dapat senantiasa berkomunikasi dengan pembimbing lewat fitur chat notifikasi dengan pembimbing umroh sesuai dengan travel agent.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 feature-item">
                    <div class="feature-image">
                        <img src="img/icon-tracking.png" style="width: 48px ; height: 45px" alt="GoHajj Icon Tracking" class="img-responsive">
                    </div>
                    <div class="feature-text">
                        <h4>Multi Device</h4>
                        <p>
                            GoHajj memfasilitasi keluarga di Tanah air supaya bisa memonitor lokasi keberadaan jemaah secara berkala (Tracking). Dilengkapi dengan nomor darurat terdekat (Rumah Sakit, Kantor Polisi, dll.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>



    <!--Untuk Travel Agen Umroh/Haji-->
    <section class="home-travel">
        <div class="container">

            <!--ROW 1-->
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-6">
                    <div class="img-illustration">
                        <div class="ilu-1">
                            <img src="img/hp1.png"  alt="GoHajj" class="img-responsive" style="display:  inline-block;  ">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-md-6">
                    <div class="media-middle">
                        <div class="media-spacing">
                            <h3 class="media-heading">Fitur Yang Lengkap</h3>
                        </div>
                        <div class="media-spacing" id="gohajjpro-section">     
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                          </p>
                      </div>
                  </div>
              </div>


          </div>

          <!--ROW 2-->
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <div class="img-illustration">
                    <div class="ilu-2">
                     <img src="img/hp1.png"  alt="GoHajj" class="img-responsive" style="display:  inline-block;  ">
                 </div>
             </div>
         </div>

         <div class="col-xs-12 col-md-6 col-md-pull-6">
            <div class="media-middle">
                <div class="media-spacing" id="gohajjtravel-section">
                    <h3 class="media-heading">Pengambilan Citra Tanaman</h3>
                </div>                    
                <div class="media-spacing">    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation                           </p>
                    </div>
                </div>
            </div>

        </div>

        <!--ROW 3-->
        <div class="row">

            <div class="col-xs-12 col-md-6 col-md-6">
                <div class="img-illustration">
                    <div class="ilu-3">
                        <img src="img/hp1.png"  alt="GoHajj" class="img-responsive" style="display:  inline-block;  ">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-md-6">
                <div class="media-middle">
                    <div class="media-spacing">
                        <h3 class="media-heading">Kandungan Didapatkan</h3>
                    </div>

                    <div class="media-spacing">    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation                           </p>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </section>


<div class="background-bawah">
    <section class="home-custom" id="custom-section">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 fitur-custom">

                    <div class="spacing">
                        <h2 class="custom-title">Pertanyaan</h2>
                    </div>

                    <div class="spacing">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                          incididunt ut labore et dolore magna aliqua. 
                      </p>
                  </div>

                  <div class="spacing">
                    <a href="mailto:cs@gohajj.id">
                        <button type="button" class="btn">
                            Hubungi Kami   
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>


<footer class="footer-content">
    <div class="container">
        <div class="row">
           <div class="col-xs-12">
            <p>copyright mata daun © 2018. All Rights Reserved.</p> 
        </div>


    </div>
</div>
</footer>
</div>



</body>
</html>
